@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHttpContextAccessor HttpContextAccessor
@using System
@using System.Text
@using Base.Core.Entities.Session
@using Base.Core.Extensions.Session
@using Microsoft.AspNetCore.Http
@{
    var currentUser = Context.Session.Get<SessionUserModel>("CurrentUser");
}


<div class="nav-tabs-custom">
    <input type="hidden" id="deal_hidden" />
    <ul class="nav nav-tabs pull-right" id="deals_tab">
        <li class="nav-item"><a href="#tab_TradeBack" data-toggle="tab" data-nodejs-log="socket log" aria-expanded="false">Trade Back</a></li>
        <li class="nav-item"><a href="#tab_BuyBack" data-toggle="tab" data-nodejs-log="socket log" aria-expanded="false">Buy back</a></li>
        <li class=" nav-item"><a href="#tab_VehicleType" data-toggle="tab" data-nodejs-log="socket log" aria-expanded="false">Add vehicle type</a></li>
        <li class="active nav-item"><a href="#tab_DealAttr" data-toggle="tab" data-nodejs-log="socket log" aria-expanded="true">Deal</a></li>
        <!--<li class="dropdown nav-item">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
    </li>-->
        <li class="pull-left header" ><i class="fa fa-th"></i>@Localizer["Deal"]</li>
    </ul>
    <div class="tab-content " >
        <div class="tab-pane zeyn-load-imager position-relative" id="tab_TradeBack" style="padding: 21px 20px 65px 20px;">
            <form id="addTradeBackForm">
                <div class="row">
                    <div class="col-md-6 ">

                        <div class="form-group">
                            <label>Vehicle type</label>
                            <div class="" id="ajax_DdslickVehicleTypeTradeBack">
                                <div id="loadingImage_DdslickVehicleTypeTradeBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickVehicleTypeTradeBack"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Customer type</label>
                            <div class="" id="ajax_DdslickCustomerTypeTradeBack">
                                <div id="loadingImage_DdslickCustomerTypeTradeBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickCustomerTypeTradeBack"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Truck type</label>
                            <div class="" id="ajax_DdslickTruckTypeTradeBack">
                                <div id="loadingImage_DdslickTruckTypeTradeBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickTruckTypeTradeBack"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Terrain</label>
                            <div class="" id="ajax_DdslickTerrainTypeTradeBack">
                                <div id="loadingImage_DdslickTerrainTypeTradeBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickTerrainTypeTradeBack"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>R&M</label>

                            <div class="" id="ajax_DdslickRepMainTradeBack">
                                <div id="loadingImage_DdslickRepMainTradeBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickRepMainTradeBack"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Hydraulics</label>
                            <div class="" id="ajax_DdslickHydraTradeBack">
                                <div id="loadingImage_DdslickHydraTradeBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickHydraTradeBack"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">

                        <div id="gridContainer_TradeBack"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label>Deal tradeback</label>
                            <div class="">
                                <div id="loadingImage_TagCabinDealTradeBacks" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-hand-o-right"></i>
                                    </div>
                                    <div style="margin-bottom: -10px;width:96%" class="tag-container-tradebacks">
                                        <ul id="tagcabin_DealTradeBacks" class="tag-box"></ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!--<button class="btn btn-default pull-right" id="tab_next_2" style="margin-top: 20px;margin-right: 10px;"><i class="fa fa-plus"></i>  Add</button>-->
                    <button type="submit" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="add_tradeBack">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;@Localizer["Save"]&nbsp;&nbsp;</button>
                </div>
            </form>
        </div><!-- /.tab-pane -->
        <div class="tab-pane zeyn-load-imager position-relative" id="tab_BuyBack" style="padding: 21px 20px 65px 20px;">
            <form id="addBuyBackForm">
                <div class="row">
                    <div class="col-md-6 ">

                        <div class="form-group">
                            <label>@Localizer["Vehicle type"]</label>
                            <div class="" id="ajax_DdslickVehicleTypeBuyBack">
                                <div id="loadingImage_DdslickVehicleTypeBuyBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickVehicleTypeBuyBack"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Customer type"]</label>
                            <div class="" id="ajax_DdslickCustomerTypeBuyBack">
                                <div id="loadingImage_DdslickCustomerTypeBuyBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickCustomerTypeBuyBack"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Truck type"]</label>
                            <div class="" id="ajax_DdslickTruckTypeBuyBack">
                                <div id="loadingImage_DdslickTruckTypeBuyBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickTruckTypeBuyBack"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@Localizer["Terrain"]</label>
                            <div class="" id="ajax_DdslickTerrainTypeBuyBack">
                                <div id="loadingImage_DdslickTerrainTypeBuyBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickTerrainTypeBuyBack"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Localizer["R&M"]</label>
                            <div class="" id="ajax_DdslickRepMainBuyBack">
                                <div id="loadingImage_DdslickRepMainBuyBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickRepMainBuyBack"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Hydraulics"]</label>
                            <div class="" id="ajax_DdslickHydraBuyBack">
                                <div id="loadingImage_DdslickHydraBuyBack" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickHydraBuyBack"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">

                        <div id="gridContainer_BuyBack"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label>@Localizer["Deal buyback"]</label>
                            <div class="">
                                <div id="loadingImage_TagCabinDealBuyBacks" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-hand-o-right"></i>
                                    </div>
                                    <div style="margin-bottom: -10px;width:96%" class="tag-container-buybacks">
                                        <ul id="tagcabin_DealBuyBacks" class="tag-box"></ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!--<button type="submit" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="add_buyBack_reset">&nbsp;<i class="fa fa-minus"></i>&nbsp;&nbsp;@Localizer["Reset"]&nbsp;&nbsp;</button>-->
                    <button type="submit" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="add_buyBack">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;@Localizer["Save"]&nbsp;&nbsp;</button>
                </div>
            </form>
        </div><!-- /.tab-pane -->
        <div class="tab-pane zeyn-load-imager position-relative" id="tab_VehicleType">
            <form id="addVehicleTypeForm">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>@Localizer["Vehicle type"]</label>
                            <div class="" id="ajax_DdslickVehicleType">
                                <div id="loadingImage_DdslickVehicleType" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-copyright"></i>
                                    </div>
                                    <div id="ddslickVehicleType"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Date"]</label>
                            <div class="">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input class="datepicker form-control" data-date-format="mm/dd/yyyy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--<div class="form-group">
                <label >Realization rate</label>

                <div class="" id="ajax_DdslickRealizationRate2">
                    <div id="loadingImage_DdslickRealizationRate2" class="input-group zeyn-load-imager">
                        <div class="input-group-addon">
                            <i class="fa fa-copyright"></i>
                        </div>
                        <div id="ddslickRealizationRate2"></div>
                    </div>
                </div>
            </div>-->
                        <div class="form-group">
                            <label>@Localizer["Total count"]</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-mail-forward"></i>
                                </div>
                                <input id="quantity" type="text" class="form-control" placeholder="total count">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label>Deal vehicle types</label>
                            <div class="">
                                <div id="loadingImage_TagCabinDealVehicles" class="input-group zeyn-load-imager">
                                    <div class="input-group-addon">
                                        <i class="fa fa-hand-o-right"></i>
                                    </div>
                                    <div style="margin-bottom: -10px;width:96%" class="tag-container">
                                        <ul id="tagcabin_DealVehicles" class="tag-box"></ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="add_vehicleType_reset">&nbsp;<i class="fa fa-minus"></i>&nbsp;&nbsp;@Localizer["Reset"]&nbsp;&nbsp;</button>
                    <button type="submit" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="add_vehicleType">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;@Localizer["Save"]&nbsp;&nbsp;</button>

                    <!--<button class="btn btn-default pull-right" id="add_vehicleType_reset" style="margin-top: 20px;margin-right: 10px;"><i class="fa fa-minus"></i>&nbsp;&nbsp;&nbsp;@Localizer["Reset"]</button>
    <button class="btn btn-default pull-right" id="add_vehicleType" style="margin-top: 20px;margin-right: 10px;"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;@Localizer["Save"]</button>-->

                </div>
            </form>
        </div><!-- /.tab-pane -->
        
        <div class="tab-pane active zeyn-load-imager position-relative" id="tab_DealAttr"  >
                <form id="addDealForm">

                    <div class="row ">
                        <!--<div class="zeyn-load-imager" id="loadingImage_tabDealAdd">-->
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>@Localizer["Deal name"]</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-mail-forward"></i>
                                    </div>
                                    <input id="deal_name" type="text" class="form-control validate[required]" placeholder="@Localizer["Deal name"]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Customer"]</label>
                                <div class="" id="ajax_DdslickCustomer">
                                    <div id="loadingImage_DdslickCustomer" class="input-group zeyn-load-imager">
                                        <div class="input-group-addon">
                                            <i class="fa fa-copyright"></i>
                                        </div>
                                        <div id="ddslickCustomer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Priority"]</label>
                                <div class="" id="ajax_DdslickPriority">
                                    <div id="loadingImage_DdslickPriority" class="input-group zeyn-load-imager">
                                        <div class="input-group-addon">
                                            <i class="fa fa-copyright"></i>
                                        </div>
                                        <div id="ddslickPriority"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Realization rate"]</label>

                                <div class="" id="ajax_DdslickRealizationRate">
                                    <div id="loadingImage_DdslickRealizationRate" class="input-group zeyn-load-imager">
                                        <div class="input-group-addon">
                                            <i class="fa fa-copyright"></i>
                                        </div>
                                        <div id="ddslickRealizationRate"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Localizer["Discount rate"]</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-mail-forward"></i>
                                    </div>
                                    <input id="discount_rate" type="text" class="form-control" placeholder="@Localizer["Discount rate"]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    @Localizer["House deal"]
                                    <div class="icheckbox_minimal-blue " aria-checked="false" aria-disabled="true" style="position: relative;">
                                        <input type="checkbox" class="minimal" checked="" style="position: absolute; opacity: 0;">
                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                        </ins>
                                    </div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Description"]</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-mail-forward"></i>
                                    </div>
                                    <textarea id="Description" class="form-control" placeholder="@Localizer["Description"]"></textarea>

                                </div>
                            </div>

                        </div>
                        <!--</div>-->
                    </div>
                    <div class="row">
                        <!--<button class="btn btn-default pull-right" id="add_deal_reset" style="margin-top: 20px;margin-right: 10px;"><i class="fa fa-minus"></i>&nbsp;&nbsp;&nbsp;@Localizer["Reset"]</button>-->
                        <button type="submit" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="add_deal_reset">&nbsp;<i class="fa fa-minus"></i>&nbsp;&nbsp;@Localizer["Reset"]&nbsp;&nbsp;</button>
                        <!--<button class="btn btn-default pull-right" id="toggle_CampaignAsider" style="margin-top: 20px;margin-right: 10px;"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;@Localizer["Add campaign"]</button>-->
                        <button type="button" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="toggle_CampaignAsider">&nbsp;<i class="fa fa-feed"></i>&nbsp;&nbsp;@Localizer["Add campaign"]&nbsp;&nbsp;</button>
                        <!-- <button class="btn btn-default pull-right" id="add_deal" style="margin-top: 20px;margin-right: 10px;"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;@Localizer["Save"]</button>-->
                        <button type="submit" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="add_deal">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;@Localizer["Save"]&nbsp;&nbsp;</button>
                        <!--<input type="submit" class="btn btn-default pull-right" id="add_deal" value="@Localizer["Save"]" /> -->
                    </div>

                </form>
</div><!-- /.tab-pane -->
        
    </div><!-- /.tab-content -->
</div>